*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#065f46;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color:yellow;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover{
    background-color:#065f46;
    border-radius: 5PX;
}

